/* 
.loaderRotatingLines {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 50px;
}
.userlist li {
    display: flex;
    justify-content: space-between;
    border: 2px solid blue;
    border-radius: 4px;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;


}
.tablesinlleuser {
    max-width: 100%;
}

.userlist li a {
    text-decoration: none;
}

.userlist li a:hover {
    text-decoration: underline;


}

.userlist li span b {
    margin-left: 10px;

}

.userlist li span {
    display: flex;
}

.userlist li button {
    background-color: red;
    width: fit-content;
    height: 30px;
    font-size: 16px;
    padding: 0 10px;
    cursor: pointer;
    color: white;
    opacity: 0.8;
}

.userlist li button:hover {
    opacity: 1;
}

.list_left {
    display: flex;
    justify-content: space-between;
    width: 90%;
        border: 1px solid red;
    }
    
    .list_left span:nth-child(1) {
        border: 1px solid red;
        width: 400px;
    }
    
    .list_left span:nth-child(2) {
        border: 1px solid red;
        width: 300px;
    }
    
    .list_left span:nth-child(3) {
        border: 1px solid red;
        width: 400px;
}

.list_right {
    display: flex;
    justify-content: space-between;
    width: 5%;
    padding-left: 20px;
}

@media screen and (max-width:500px) {
    .userlist li {
        display: flex;
        justify-content: space-between;
        border: 2px solid blue;
        border-radius: 4px;
        width: 100%;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 16px;


    }

    .list_left {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        padding: 0 10px;
    }

    .list_right {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}
.footer {
    width: 100%;
    background-color: white;
    margin-top: 50px;
    text-align: center;
    padding: 10px 0;
}
*/ .userlistt {
    max-width: 1480px;
    margin: 50px auto;
    margin-bottom: 200px;
}

.userlist_title {
    font-size: 25px;
    font-weight: 900;
    text-align: start;
    margin-bottom: 30px;
    margin-left: 50px;
}

.tablesinlleuser {
    margin-left: -40px;
    max-width: 1480px;
    margin-bottom: 200px;
}

.tablesinlleuser {
    display: block;
}

.tablesinlleuser_media {
    display: none;
}

.tablesinlleuser_media_600px {
    display: none;
}

@media screen and (max-width: 767px) {
    .userlistt {
        max-width: 760px;
        margin: 50px auto;
    }

    .userlist_title {
        font-size: 20px;
        font-weight: 900;
        text-align: start;
        margin-bottom: 30px;
        margin-left: 50px;
    }

    .tablesinlleuser {
        margin-left: -40px;
        max-width: 760px;
        padding: 0 20px;
    }

    .tablesinlleuser_media {
        display: block;
        margin-left: -20px;
    }

    .tablesinlleuser_media_600px {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .userlistt {
        max-width: 760px;
        margin: 50px auto;
    }

    .userlist_title {
        font-size: 20px;
        font-weight: 900;
        text-align: start;
        margin-bottom: 30px;
        /* margin-left: 20px; */
    }

    .tablesinlleuser {
        margin-left: -40px;
        max-width: 760px;
        padding: 0 20px;
    }

    .tablesinlleuser_media {
        margin-left: -30px;
        max-width: 400px;
    }
}

/*  */