.card_settings {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.card_settings_title {
    margin-bottom: 30px;
}

.card_settings form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: auto;
    /* border: 1px solid red; */
}

.card_settings input {
    padding: 7px 20px;
}

.uploadImagegegbtn {
    border: 1px solid red;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 30px;
}