.container {
        max-width: 100%;
            padding: 20px;
            background: white;
}
.headerright {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerbtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}